<footer>Derechos reservados 2023</footer> <footer class="footer-area bg-f">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h3>&copy; SHOP</h3>
            <p>Al usar nuestro contenido, productos y servicios, usted acepta nuestros Términos de servicio y Política de privacidad. 
              Se prohíbe la reproducción total o parcial en cualquier forma o medio sin el permiso expreso por escrito de Affiliate Marketing Corp.
              <br>
              ¡No vendas mi información personal!
            </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <h3>Recibi noticias</h3>
            <div class="subscribe_form">
              <form class="subscribe_form">
                <input name="EMAIL" id="subs-email" class="form_input" placeholder="Escibe tu Email" type="email">
                <button type="submit" class="submit">Suscribite</button>
                <div class="clearfix"></div>
              </form>
            </div>
            <ul class="social-icons">
              <li>
                <a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://es-la.facebook.com/cocherabar/" target="_blank"> <i class="fab fa-facebook-square"></i></a>
              </li>
              <li>
                <a href="https://ar.pinterest.com/" target="_blank"> <i class="fab fa-pinterest"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="https://www.tripadvisor.com.ar/Restaurant_Review-g312768-d15514261-Reviews-Cochera_Birreria_de_barrio-Cordoba_Province_of_Cordoba_Central_Argentina.html" target="_blank"> <i class="fab fa-tripadvisor"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h1>Horarios de Atencion</h1>
            <p><span class="text-color">Lunes :</span> Cerrado</p>
            <p><span class="text-color">Mar/Mier/Dom </span>18:00Pm - 02:00Am</p>
            <p><span class="text-color">Jue/vie/Sab :</span> 18:00Pm - 05:00Am</p>
          </div>
          <div class="col-lg-2 col-md-4">
            <h3>Ubicanos</h3>
            <iframe class="gmap_iframe" width="200px" height="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=215&amp;height=147&amp;hl=en&amp;q=mariano fragueiro 1562&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://embedmapgenerator.com/"></a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:147px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:147px;}.gmap_iframe {height:147px!important;}</style>
          </div>
        </div>
    </footer><!-- fin footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>